# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-app

/locales/ @pagopa/io-app @thisisjp
/ios/ItaliaApp/it.lproj/ @pagopa/io-app @thisisjp
/ios/ItaliaApp/en.lproj/ @pagopa/io-app @thisisjp
