# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-app @gispada @soixdev91 @emilio-dimari 

/locales/ @pagopa/io-app @thisisjp @gispada @soixdev91 @emilio-dimari
/ios/IO/it.lproj/ @pagopa/io-app @thisisjp @gispada @soixdev91 @emilio-dimari
/ios/IO/en.lproj/ @pagopa/io-app @thisisjp @gispada @soixdev91 @emilio-dimari
/ts/features/design-system @pagopa/io-app @dmnplb @gispada @soixdev91 @emilio-dimari
/ts/components/ui @pagopa/io-app @dmnplb @gispada @soixdev91 @emilio-dimari
