<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="it.pagopa.io.app"
  xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto">

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="http"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https"/>
    </intent>
  </queries>

  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="false"/>

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <!-- Force removal of ACCESS_WIFI_STATE see https://pagopa.atlassian.net/browse/IA-557 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove" />
  <!-- Force removal of READ_PHONE_STATE due to react-native-device-info library see https://github.com/react-native-community/react-native-device-info/issues/955 -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
  <!-- Force removal of RECORD_AUDIO since the app doesn't need it see https://www.pivotaltracker.com/story/show/171897210 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />

  <!-- Required by react-native-calendar-events -->
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />

  <!-- Required by @react-native-community/cameraroll -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- Required by react-native-vision-camera -->
  <uses-permission android:name="android.permission.CAMERA" />

  <!-- Required by react-native-fingerprint-scanner -->
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />

  <!-- Required for local notifications -->
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:usesCleartextTraffic="true" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:requestLegacyExternalStorage="true" android:theme="@style/AppTheme">

    <!-- START Required by react-native-push-notification -->

    <meta-data android:name="com.dieam.reactnativepushnotification.notification_foreground" android:value="true"/>


    <meta-data android:name="com.dieam.reactnativepushnotification.notification_color" android:resource="@color/white"/>

    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
      </intent-filter>
    </receiver>

    <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService" android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_notification" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id" />


    <!-- END Required by react-native-push-notification -->

    <!-- Mixpanel -->

    <meta-data android:name="com.mixpanel.android.MPConfig.UseIpAddressForGeolocation" android:value="false" />
    <!-- disable A/B testing see https://pagopa.atlassian.net/browse/IA-42 -->
    <meta-data android:name="com.mixpanel.android.MPConfig.DisableGestureBindingUI" android:value="true" />
    <meta-data android:name="com.mixpanel.android.MPConfig.DisableEmulatorBindingUI" android:value="true" />

    <!-- START Required by mixpanel push notification -->
    <service android:name="com.mixpanel.android.mpmetrics.MixpanelFCMMessagingService" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>

    <!-- END Required by mixpanel push notification  -->

    <!-- END Mixpanel -->

    <!-- Zendesk activities style -->
    <activity android:name="zendesk.support.guide.HelpCenterActivity" android:theme="@style/ZendeskTheme" />

    <activity android:name="zendesk.support.guide.ViewArticleActivity" android:theme="@style/ZendeskTheme" />

    <activity android:name="zendesk.support.request.RequestActivity" android:theme="@style/ZendeskTheme" />

    <activity android:name="zendesk.support.requestlist.RequestListActivity" android:theme="@style/ZendeskTheme" />
    <activity android:name="zendesk.messaging.MessagingActivity" android:theme="@style/ZendeskTheme" />
    <!-- END Zendesk -->

    <activity android:name=".MainActivity" android:launchMode="singleTask" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:windowSoftInputMode="adjustResize" android:exported="true">
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="ioit" android:host="ioit" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" />
        <data android:host="continua.io.pagopa.it" />
      </intent-filter>
    </activity>
  </application>

</manifest>
