defaults: &defaults
  working_directory: ~/italia-app

defaults_js: &defaults_js
  <<: *defaults
  parallelism: 2
  docker:
    - image: circleci/node:8

version: 2
jobs:
  # Runs JavaScript tests on Node 8
  test-js-node-8:
    <<: *defaults_js

    steps:
      - checkout

      # Restore dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-

      # Install node dependencies
      - run: yarn install --frozen-lockfile --no-progress --non-interactive

      # Save node cache
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      # Run TSLint
      # - run: yarn lint

      # Build app
      - run: yarn tsc:noemit

      # Run tests
      - run: yarn test
      - run: 'bash <(curl -s https://codecov.io/bash)'

      # Run DangerJS
      - run: yarn danger ci

      # Save workspace for next jobs in the workflow
      - persist_to_workspace:
          root: /home/circleci
          paths:
            - italia-app

  # Build Android bundle
  build-android-bundle:
    <<: *defaults_js

    steps:
      # Restore workflow workspace
      - attach_workspace:
          at: /home/circleci

      # Create bundles dir
      - run: mkdir -p ./bundles

      # Run bundle command for android platform
      - run: yarn bundle:android

      - persist_to_workspace:
          root: bundles
          paths:
            - index.android.bundle
      - store_artifacts:
          path: bundles/index.android.bundle

  # Run test on android
  test-android:
    <<: *defaults

    docker:
      - image: circleci/android:api-27-node8-alpha

    environment:
      - TERM: "dumb"
      - ANDROID_SDK_BUILD_TOOLS_REVISION: "23.0.1"
      - ANDROID_SDK_BUILD_API_LEVEL="23": "23"

    steps:
      # Restore workflow workspace
      - attach_workspace:
          at: /home/circleci

      # Restore sdk cache
      - restore_cache:
          keys:
            - v1-android-sdkmanager-packages-{{ checksum "scripts/circleci-android-setup.sh" }}
            - v1-android-sdkmanager-packages-

      # Install Android SDK
      - run:
          command: ./scripts/circleci-android-setup.sh

      # Save sdk cache
      - save_cache:
          paths:
            - /opt/android/sdk/system-images/android-23
            - /opt/android/sdk/system-images/android-19
            - /opt/android/sdk/platforms/android-26
            - /opt/android/sdk/platforms/android-23
            - /opt/android/sdk/platforms/android-19
            - /opt/android/sdk/build-tools/23.0.1
            - /opt/android/sdk/add-ons/addon-google_apis-google-2
          key: v1-android-sdkmanager-packages-{{ checksum "scripts/circleci-android-setup.sh" }}

      # Restore jars cache
      - restore_cache:
          key: jars-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}

      # Run gradle assembleDebug
      - run:
          command: cd android && ./gradlew assembleDebug

      # Save jars cache
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}

  # Test ios build
  test-ios:
    <<: *defaults

    macos:
      xcode: "9.0"

    working_directory: /Users/distiller/italia-app

    environment:
      FL_OUTPUT_DIR: output
      BUNDLE_JOBS: 3
      BUNDLE_RETRY: 3
      BUNDLE_PATH: vendor/bundle

    shell: /bin/bash --login -o pipefail

    steps:
      # Restore workflow workspace
      - attach_workspace:
          at: /Users/distiller

      # Restore bundle cache
      - restore_cache:
          keys:
            - ruby-{{ checksum "Gemfile.lock" }}
            - ruby-

      # Set Ruby Version for chruby
      - run: echo "ruby-2.4" > .ruby-version

      # Install bundle dependencies
      - run:
          name: Bundle Install
          command: bundle check || bundle install

      # Store bundle cache
      - save_cache:
          key: ruby-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # Fetch CocoaPods specs
      - run: curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf

      # Move to the ios project directory and run the test_build lane
      - run: cd ios && bundle exec fastlane test_build

workflows:
  version: 2
  build:
    jobs:
      # Lint ant test Javascript
      - test-js-node-8

      # Build Android bundle
      - build-android-bundle:
          requires:
            - test-js-node-8

      # Test Android
      - test-android:
          requires:
            - build-android-bundle

      # Test iOS
      - test-ios:
          requires:
            - test-js-node-8

