defaults: &defaults
  working_directory: ~/italia-app

defaults_js: &defaults_js
  <<: *defaults
  docker:
    - image: circleci/node:8

version: 2
jobs:
  # Runs JavaScript tests on Node 8
  test-js-node-8:
    <<: *defaults_js

    steps:
      - checkout

      # Restore dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-

      # Install node dependencies
      - run: yarn install --frozen-lockfile --no-progress --non-interactive

      # Save node cache
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      # Run ESLint
      - run: yarn lint

      # Run tests
      - run: yarn test

      # Save workspace for next jobs in the workflow
      - persist_to_workspace:
          root: /home/circleci
          paths:
            - italia-app

  # Build Android bundle
  build-android-bundle:
    <<: *defaults_js

    steps:
      # Restore workflow workspace
      - attach_workspace:
          at: /home/circleci

      # Create bundles dir
      - run: mkdir -p ./bundles

      # Run bundle command for android platform
      - run: yarn bundle:android

      - persist_to_workspace:
          root: bundles
          paths:
            - index.android.bundle
      - store_artifacts:
          path: bundles/index.android.bundle

  # Run test on android
  test-android:
    <<: *defaults

    docker:
      - image: circleci/android:api-27-node8-alpha

    environment:
      - TERM: "dumb"
      - ANDROID_SDK_BUILD_TOOLS_REVISION: "23.0.1"
      - ANDROID_SDK_BUILD_API_LEVEL="23": "23"

    steps:
      # Restore workflow workspace
      - attach_workspace:
          at: /home/circleci

      # Restore sdk cache
      - restore_cache:
          keys:
            - v1-android-sdkmanager-packages-{{ checksum "scripts/circleci-android-setup.sh" }}
            - v1-android-sdkmanager-packages-

      # Install Android SDK
      - run:
          command: ./scripts/circleci-android-setup.sh

      # Save sdk cache
      - save_cache:
          paths:
            - /opt/android/sdk/system-images/android-23
            - /opt/android/sdk/system-images/android-19
            - /opt/android/sdk/platforms/android-26
            - /opt/android/sdk/platforms/android-23
            - /opt/android/sdk/platforms/android-19
            - /opt/android/sdk/build-tools/23.0.1
            - /opt/android/sdk/add-ons/addon-google_apis-google-2
          key: v1-android-sdkmanager-packages-{{ checksum "scripts/circleci-android-setup.sh" }}

      # Run gradle tests
      - run:
          command: cd android && ./gradlew test

  # Test ios build
  test-ios:
    <<: *defaults

    macos:
      xcode: "9.0"
    
    shell: /bin/bash --login -eo pipefail

    steps:
      - checkout

      # Set Ruby Version for chruby
      - run: echo "ruby-2.4" > .ruby-version
      
      # Download node packages
      - run: yarn install

      # Install bundles
      - run: bundle install

      # Fetch CocoaPods specs
      - run: curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
      
      # Move to the ios project directory and run the test_build lane
      - run: cd ios && bundle exec fastlane test_build

workflows:
  version: 2
  build:
    jobs:
      # Lint ant test Javascript
      - test-js-node-8

      # Build Android bundle
      - build-android-bundle:
          requires:
            - test-js-node-8

      # Test Android
      - test-android:
          requires:
            - build-android-bundle

      # Test iOS
      - test-ios
