<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>IO</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>ioit</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ioit</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>110</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>The app needs NSBluetoothPeripheralUsageDescription permission</string>
    <key>NSCalendarsUsageDescription</key>
    <string>IO needs access to the calendar to add event reminders</string>
    <key>NSCameraUsageDescription</key>
    <string>IO needs access to the camera to scan QR codes</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The app needs NSLocationWhenInUseUsageDescription permission</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The app needs NSPhotoLibraryAddUsageDescription permission</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app needs NSPhotoLibraryUsageDescription permission</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>The app needs NSSpeechRecognitionUsageDescription permission</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>The app needs NSAppleMusicUsageDescription permission</string>
    <key>NSMotionUsageDescription</key>
    <string>The app needs NSMotionUsageDescription permission</string>
    <key>NSContactsUsageDescription</key>
    <string>IO needs access to your contacts to let you add them in calendar events</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Enable Face ID for a faster identification.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Let IO know your location even when the it's running in background</string>
    <key>UIAppFonts</key>
    <array>
      <string>TitilliumWeb-Black.ttf</string>
      <string>TitilliumWeb-Bold.ttf</string>
      <string>TitilliumWeb-BoldItalic.ttf</string>
      <string>TitilliumWeb-ExtraLight.ttf</string>
      <string>TitilliumWeb-ExtraLightItalic.ttf</string>
      <string>TitilliumWeb-Italic.ttf</string>
      <string>TitilliumWeb-Light.ttf</string>
      <string>TitilliumWeb-LightItalic.ttf</string>
      <string>TitilliumWeb-Regular.ttf</string>
      <string>TitilliumWeb-SemiBold.ttf</string>
      <string>TitilliumWeb-SemiBoldItalic.ttf</string>
      <string>Andale Mono.ttf</string>
      <string>Arial Black.ttf</string>
      <string>Arial.ttf</string>
      <string>Comic Sans MS.ttf</string>
      <string>Courier New.ttf</string>
      <string>Georgia.ttf</string>
      <string>Microsoft Sans Serif.ttf</string>
      <string>Rubik-Black.ttf</string>
      <string>Rubik-BlackItalic.ttf</string>
      <string>Rubik-Bold.ttf</string>
      <string>Rubik-BoldItalic.ttf</string>
      <string>Rubik-Italic.ttf</string>
      <string>Rubik-Light.ttf</string>
      <string>Rubik-LightItalic.ttf</string>
      <string>Rubik-Medium.ttf</string>
      <string>Rubik-MediumItalic.ttf</string>
      <string>Rubik-Regular.ttf</string>
      <string>SanFrancisco.ttf</string>
      <string>SanFranciscoBold.ttf</string>
      <string>SanFranciscoThin.ttf</string>
      <string>SF-UI-Text-Regular.otf</string>
      <string>Skia.ttf</string>
      <string>Times New Roman.ttf</string>
      <string>Entypo.ttf</string>
      <string>EvilIcons.ttf</string>
      <string>FontAwesome.ttf</string>
      <string>Foundation.ttf</string>
      <string>Ionicons.ttf</string>
      <string>MaterialIcons.ttf</string>
      <string>Octicons.ttf</string>
      <string>Roboto_medium.ttf</string>
      <string>Roboto.ttf</string>
      <string>rubicon-icon-font.ttf</string>
      <string>SimpleLineIcons.ttf</string>
      <string>Zocial.ttf</string>
      <string>Feather.ttf</string>
      <string>MaterialCommunityIcons.ttf</string>
      <string>io-icon-font.ttf</string>
      <string>RobotoMono-Regular.ttf</string>
      <string>AntDesign.ttf</string>
      <string>FontAwesome5_Brands.ttf</string>
      <string>FontAwesome5_Regular.ttf</string>
      <string>FontAwesome5_Solid.ttf</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>IO needs access to the microphone in case you want to leave a voice note</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>
