name: Pull request review
on:
  pull_request
jobs:
  run-danger:
    runs-on: ubuntu-latest
    environment: dev
    concurrency:
      group: ${{ github.workflow }}-pr-staticcheck-danger-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - id: checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - id: setup-node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version-file: '.node-version'
      - run: '[ -z "$${{ secrets.DANGER_GITHUB_API_TOKEN }}" ] || yarn danger ci'
  checks:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-pr-staticcheck-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - id: checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - id: setup
        uses: ./.github/actions/setup-composite
      - id: run-tsc
        run: yarn tsc:noemit
      - id: run-lint
        run: yarn lint
      - id: run-prettier
        run: yarn prettier:check
      - id: run-test
        run: yarn test:ci
      - id: codecov-script
        run: ./scripts/codecov.sh