name: Periodic Rebase [IT-WALLET]

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  rebase:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Rebase master branch
        run: |
          git config --global user.email "mario.perrotta@pagopa.it"
          git config --global user.name "hevelius"
          git fetch origin
          git rebase origin/master
