on:
  - pull_request
  - workflow_call
jobs:
  checks:
    runs-on: ubuntu-latest
    environment: dev
    concurrency:
      group: ${{ github.workflow }}-pr-staticcheck-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - id: checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - id: setup
        uses: ./.github/actions/setup-composite
      # - id: run-tsc
      #   run: yarn tsc:noemit
      # - id: run-lint
      #   run: yarn lint
      # - id: run-prettier
      #   run: yarn prettier:check
      - id: run-test
        run: yarn test:ci
      - id: codecov-script
        uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # v3.1.4, no token needed
        # uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed # v4.3.0, needs token
        # with:
        #   token: ${{ secrets.CODECOV_TOKEN }}
