name: Run e2e tests
on:
  push:
    branches:
      - migrate-e2e-to-ga
jobs:
  # run-static-checks:
  #   uses: ./.github/workflows/staticcheck.yaml
  run-e2e-test-ios:
    # needs: run-static-checks
    runs-on: macos-latest
    steps:
      - id: checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - id: setup
        uses: ./.github/actions/setup-composite
      - id: setup-ruby
        uses: ruby/setup-ruby@d2b39ad0b52eca07d23f3aa14fdf2a3fcc1f411c
        with:
          bundler-cache: true
      - id: prepare-dependencies
        run: |
          cp .env.local .env
          yarn run postinstall
        shell: bash
      - id: cache-cocoapods
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - id: setup-pods
        if: steps.cache-cocoapods.outputs.cache-hit != 'true'
        run: cd ios ; pod install --verbose ; cd -
        shell: bash
      - id: install-detox
        run: |
          brew tap wix/brew
          brew install applesimutils
        shell: bash
      - id: detox-rebuild-framework-cache
        run: yarn detox rebuild-framework-cache
      - id: cache-detox-build
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: ios/build
          key: ${{ runner.os }}-detox-build
          restore-keys: |
            ${{ runner.os }}-detox-build
      - id: prepare-detox-build
        run: RN_SRC_EXT=e2e.ts yarn detox build -c ios.sim.release
        shell: bash
      - id: checkout-dev-server
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          repository: pagopa/io-dev-api-server
          path: './_io-dev-api-server_'
      - id: run-e2e-tests
        run: bash ./.github/scripts/run-e2e-tests.sh
      - id: upload-artifacts
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        if: always()
        with:
          name: detox-artifacts
          path: /tmp/e2e_artifacts/detox/
